.coinlist {
  max-width: 1000px;
  margin: 0 auto;
}
.coinlist-header {
  background: lightgray;
  display: flex;
  flex-direction: row;
  padding:0.25rem 1.6rem;
  justify-content: space-between;
}
.coinlist-header-label {
  display: inline-block;
  font-size: 12px;
}
.coin-card {
  background: #fff;
  padding: 1.6rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
}
.coin-name {
  flex-basis: 2;
}