.coin-list {
  max-width: 1000px;
  margin: 0 auto;
}
.coin-list-header {
  background: lightgray;
  display: flex;
  flex-direction: row;
  padding:0.25rem 1.6rem;
}
.coin-card {
  background: #fff;
  padding: 1.6rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
}
.coin-name {
  flex-basis: 2;
}